// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}


.navbar-header {
  float: right;
}


#block-proj-me-theme-main-menu {
  float: left;
}

#block-proj-me-theme-socialmedialinks {
  float: right;
  top: 9px;
}


.fa-facebook {
    background-color: #37293a;
    border-radius: 15%;
    color: #bf5829;
}


.fa-twitter {
    background-color: #37293a;
    border-radius: 35%;
    color: #bf5829;
}


.fa-linkedin {
    background-color: #37293a;
    border-radius: 15%;
    color: #bf5829;
}


.navbar-default .navbar-nav > li > a {
    color: white;
    background: #110c28;
    margin-right: 27px;
    padding: 10px 30px;
    top: 5px;
    text-transform: uppercase;
    font-family: "Trebuchet MS";
  }


  .block-social-media-links .horizontal li, .pane-social-media-link-widget .horizontal li {
    display: inline-block;
    text-align: center;
    padding: .2em 0.35em;
    margin-right: 12px;
}


.menu li:nth-child(2) {
  padding-right: 8px;
}


.menu li:nth-child(3) {
  padding-right: 15px;
}


header#navbar {
  position: relative;
}


a.name {
  position: absolute;
  left: 0;
  text-transform: uppercase;
}