// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

// global settings
$base-orange: #bf5829;
$base-grey: #525252;
$black: #000000;
$base-font: "Trebuchet MS";
$font-two: "Bodoni MT";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
  margin-top: 0;
  }
}

body {
    margin-top: 0;
}

// HERO SECTIOM

.navbar-header {
  float: right;
  margin-top: 20px;
}

header#navbar a.navbar-brand {
  font-size: 23px;
  color: white;
}

#block-proj-me-theme-main-menu {
  float: left;
}

#block-socialmedialinks-2 {
  float: right;
}

.fa-twitter {
  background-color: $base-orange;
  border-radius: 50%;
  color: #37293a;
  border: 7px solid $base-orange;
  border-right: 8px solid $base-orange;
  border-left: 8px solid $base-orange;
}

.fa-twitter:hover {
  background-color: #37293a;
  border-radius: 50%;
  color: #bf5829;
  border: 7px solid #37293a;
  border-right: 8px solid #37293a;
  border-left: 8px solid #37293a;
}

.fa-github {
  background-color: $base-orange;
  border-radius: 50%;
  color: #37293a;
  border: 7px solid $base-orange;
  border-right: 10px solid $base-orange;
  border-left: 10px solid $base-orange;
}

.fa-github:hover {
  background-color: #37293a;
  border-radius: 50%;
  color: $base-orange;
  border: 7px solid #37293a;
  border-right: 10px solid #37293a;
  border-left: 10px solid #37293a;
}

.fa-linkedin {
  background-color: $base-orange;
  border-radius: 50%;
  color: #37293a;
  border: 7px solid $base-orange;
  border-right: 9px solid $base-orange;
  border-left: 9px solid $base-orange;
}

.fa-linkedin:hover {
  background-color: #37293a;
  border-radius: 50%;
  color: $base-orange;
  border: 7px solid #37293a;
  border-right: 9px solid #37293a;
  border-left: 9px solid #37293a;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  background: rgba(17, 12, 40, 0.9);
  margin-right: 27px;
  padding: 10px 30px;
  text-transform: uppercase;
  font-family: $base-font;
}

.navbar-default .navbar-nav li a:hover {
  color: #000;
  background-color: rgba(191, 88, 41, 0.9);
  transition: background-color 0.5s ease;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #000;
  background-color: rgba(191, 88, 41, 0.9);
}

.block-social-media-links .horizontal li, .pane-social-media-link-widget .horizontal li {
  display: inline-block;
  text-align: center;
  padding: .2em 0.35em;
  margin-right: 12px;
}

.menu li:nth-child(2) {
  padding-right: 8px;
}

.menu li:nth-child(3) {
  padding-right: 15px;
}



.navbar-default {
  background-color: transparent;
  border: none;
}

a.name {
  position: absolute;
  left: 0;
  text-transform: uppercase;
  font-family: $base-font;
  color: white;
}

.hero-section-border {
  border-bottom: 1px solid $base-grey;
  padding-top: 97px;
}

.hero-section {
  margin-top: 70px;
  font-family: $font-two;
  color: white;
}

.hero-text {
  font-size: 46px;
  font-weight: 600;
}

u {
  text-decoration: none;
  border-bottom: .5px solid white;
}

.last {
  font-style: italic;
}


.hero-section .call-to-action {
  margin-top: 50px;
}

.call-to-action p {
  font-size: 11px;
}

#hero {
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  height: 468px;
  background-size: cover;

    .button{
      font-family: $base-font;
      padding: 12px 24px;
      background-color: $base-orange;
      text-transform: uppercase;
      text-decoration: none;
      border: none;
      margin-top: 30px;
      color: #ffffff;
    }
}

#hero .button:hover {
  background-color: rgba(17, 12, 40, 0.9);
  transition: background-color 0.5s ease;
  text-decoration: none;
}

#hero .button:visited {
  text-decoration: none;
}

#hero-two {
  background-image: url(../images/hero-two.jpg);
  background-repeat: no-repeat;
  height: 468px;
  background-size: cover;
}

// CONTACT ME PAGE

.path-webform {
    background: #f4f4f4;
}

.path-webform {
  .main-container.container.js-quickedit-main-content {
    width: 80%;
    position: relative;
    padding: 55px 0px;
  }
}

.path-webform .highlighted {
    background-color: black;
    color: white;
    width: 30%;
    padding: 29px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    text-align: left;
    left: 30px;
    top: 90px;
    font-family: $base-font;
    font-size: 12px;
}

.path-webform .highlighted .contact-box .contact-info {
    color: $base-orange;
    font-family: $base-font;
}

.path-webform .region-content {
    font-family: $base-font;
    width: 60%;
    float: right;
    padding-right: 35px;
}

.path-webform .region-content h1 {
    padding-bottom: 9px;
    margin: 0px 0px 20px;
    text-align: center;
    font-family: $font-two;
    font-size: 55px;
    font-weight: 600;
    border: none;
}


.path-webform .region-content .control-label {
    background: black;
    color: white;
    padding: 16px 20px 16px 19px;
    font-family: $base-font;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 1px;
}


.path-webform {
  
  .form-item-name .control-label {
    padding: 16px 22px 16px 19px;
  }

  .form-item-phone .control-label {
    padding: 16px 25px 16px 19px;
  }

}


// CHECK
/* .path-webform .region-content .control-label:nth-child(2) {
    color: blue;
} */

.path-webform .region-content .form-control {
    display: block;
    width: 83%;
    float: right;
    height: 50px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e8e8e8;
    border-radius: 0;
}

.path-webform .region-content .form-item-how-can-i-help-you- .control-label {
    width: 100%;
    margin-bottom: 0;
}

.path-webform #edit-how-can-i-help-you- {
    width: 100%;
    height: 300px;
    background-color: #e8e8e8;
    border: 1px solid #e8e8e8;
    font-family: "Times New Roman";
    font-size: 17px;
    padding-top: 15px;
    color: #898989;
}
.path-webform .region-content .webform-button--submit {
    float: right;
    clear: both;
}

.path-webform .send-button {
    color: #ffffff;
    background-color: $base-orange;
    border-color: $base-orange;
    border-radius: 0px;
    padding: 10px 45px;
    font-family: $base-font;
    text-transform: uppercase;
    margin: 17px 0 0 0;
}

.path-webform .send-button:hover {
  background-color: rgba(17, 12, 40, 0.9);
  transition: background-color 0.5s ease;
  text-decoration: none;
}


// ABOUT ME SECTION

.block-views-blockabout-me-block-1 {
    text-align: center;
    display: block;
    margin: 0px auto;
    width: 70%;
    position: relative;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 55px;
}

.path-frontpage .main-container.container.js-quickedit-main-content {
    background-color: #f4f4f3;
    width: 100%;
    padding-left: 0px;
}

.block-views-blockabout-me-block-1 {
  
  .views-field-field-headline {
    position: absolute;
    top: 25px;
    text-align: left;
    width: 40%;
    left: 200px;
  }


}

.block-views-blockabout-me-block-1 .views-field-field-headline .views-label-field-headline {
    color: #aaaaaa;
    text-transform: uppercase;
    font-family: $base-font;
}

.block-views-blockabout-me-block-1 .views-field-field-headline .field-content {
    font-family: $font-two;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    padding-top: 18px;
    color: #382a3b
}

.block-views-blockabout-me-block-1 .views-field-user-picture {
    right: 0;
    float: right;
    margin-right: 60px;
    width: 30%;
    margin-top: 25px;
}

.block-views-blockabout-me-block-1 .views-field-user-picture img {
    border-radius: 50%;
    width: 40%;
}

.block-views-blockabout-me-block-1 .views-field-field-service-skills {
  padding-top: 30px;
  padding-right: 75px;
  text-align: left;
  width: 25%;
  margin: 0 auto;
  float: left;
  margin-top: 236px;
  margin-left: 195px;
}

.block-views-blockabout-me-block-1 .views-field-field-service-skills .field-content {
  margin-top: 15px;
}

.block-views-blockabout-me-block-1 .views-field-field-service-skills .field-content a {
  color: $base-orange;
}

.block-views-blockabout-me-block-1 .views-field-field-service-skills .field-content a:hover {
  text-decoration: none;
}


.block-views-blockabout-me-block-1 .views-label-field-service-skills {
    color: #aaaaaa;
    text-transform: uppercase;
    font-family: $base-font;
} 

.block-views-blockabout-me-block-1 .views-field-field-biography {
    display: inline-block;
    width: 48%;
    margin-right: 115px;
    padding-top: 42px;
    padding-right: 44px;
    text-align: left;
    margin: 0 auto;
    margin-top: 33px;
}

.block-views-blockabout-me-block-1 .views-label-field-biography {
    color: #aaaaaa;
    text-transform: uppercase;
    font-family: $base-font;
}

.block-views-blockabout-me-block-1 .views-field-field-biography .field-content p {
    color: #868686;
    margin-top: 13px;
}


// BLOG PAGE

.path-frontpage .main-container.container.js-quickedit-main-content .row .col-sm-12 {
  padding: 0px;
}

.block-views-blockview-portfolio-block-1 h2.block-title {
  font-size: 15px;
  font-family: $base-font;
  color: #aaaaaa;
  text-align: center;
  text-transform: uppercase;
  margin-top: 90px;
  margin-botom: 8px;
}

.path-portfolio h1.page-header {
  font-size: 15px;
  font-family: $base-font;
  color: #aaaaaa;
  text-align: center;
  text-transform: uppercase;
  margin-top: 90px;
  margin-botom: 8px;
}
 
.block-views-blockview-portfolio-block-1 .view-header {
  color: #382a3b;
  text-align: center;
  font-family: $font-two;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.path-portfolio .view-header {
  color: #382a3b;
  text-align: center;
  font-family: $font-two;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.block-views-blockview-portfolio-block-1 .view-content {
  text-align: center;
}

.path-portfolio .view-content {
  text-align: center;
}

.block-views-blockview-portfolio-block-1 .views-row {
  width: 31%;
  text-align: center;
  display: inline-block;
  margin: 19px;
  margin-bottom: 5px;
}

.path-portfolio .views-row {
  width: 31%;
  text-align: center;
  display: inline-block;
  margin: 19px;
  margin-bottom: 5px;
}


.block-views-blockview-portfolio-block-1 .more-link {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 50px;
}

.block-views-blockview-portfolio-block-1 .more-link a {
  background-color: $base-orange;
  color: #ffffff;
  text-transform: uppercase;
  padding: 15px 65px;
  font-family: $base-font;
}

.block-views-blockview-portfolio-block-1 .more-link a:hover {
  background-color: rgba(17, 12, 40, 0.9);
  transition: background-color 0.5s ease;
  text-decoration: none;
}

.block-views-blockview-portfolio-block-1 .more-link a:visited {
  text-decoration: none;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}


.block-views-blockview-blog-post-block-1 .views-row {
    width: 100%;
    text-align: center;
    padding: 45px;
    font-family: $base-font;
    border-bottom: 1px solid #c1c1c1;
}

#blog {
  color: #c2653b;
}

.block-views-blockview-blog-post-block-1 .field-content a {
    color: #382a3b;
    font-family: $font-two;
    font-size: 40px;
    font-weight: 600;
}

.block-views-blockview-blog-post-block-1 .field-content a:hover {
  color: white;
  text-decoration: none;
}

.block-views-blockview-blog-post-block-1 .views-row:hover {
  color: white;
  background-image: url(../images/keyboard-orange.jpg);
}

// BLOCK NODES

.page-node-type-blog {
    background: #f4f4f4;
}

.page-node-type-blog .main-container {
    text-align: center;
    border-bottom: 1px solid #aaaaaa;
    width: 60%;
    padding: 50px 0px 0px;
}

  .page-node-type-blog .region-content h1 {
    font-family: $font-two;
    font-size: 42px;
    font-weight: 600;
    border-bottom: none;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 55%;
}

.page-node-type-blog .field--name-field-b {
    display: inline-block;
    float: right;
    width: 50%;
    text-align: left;
    font-family: "Times New Roman";
    font-size: 17px;
    color: $base-orange;
    margin-top: 38px;
    padding-left: 5px;
}

.page-node-type-blog .field--name-field-i {
    display: inline-block;
    width: 8%;
    margin-left: 320px;
}

.page-node-type-blog .field--name-field-i img {
    border-radius: 50%;
}

.page-node-type-blog .field--item {

}

.page-node-type-blog .field--name-body {
    padding: 50px 0px;
    margin-top: 45px;
    border-top: 1px solid #aaaaaa;
    text-align: left;
    font-family: "Times New Roman";
    font-size: 15px;
    color: #aaaaaa;
}

.page-node-type-blog .region-footer {
    text-align: center;
    font-family: $base-font;
}

.page-node-type-blog #block-socialsharingblock h2 {
    text-transform: uppercase;
    font-size: 12px;
    padding: 40px 0px;
    color: $base-orange;
}


// FOOTER

.footer.container {
    width: 100%;
    padding: 0;
}

.region.region-footer {
    width: 100%;
}


#block-calltoactionblock {
  margin-top: 40px;
  text-align: center;
  background-color: #272727;
  color: $base-grey;
  width: 100%;

  padding : {
    top: 60px;
    bottom: 55px;
  }

  font : {
    family: $font-two;
    size: 44px;
    weight: 600;
  }

}


#block-calltoactionblock .lets-build {
  background-color: $base-orange;
  color: #ffffff;
  text-transform: uppercase;

  margin : {
    top: 0px;
    right:25px;
    bottom: 0px;
    left: 25px;
  }

  padding : {
    top: 20px;
    right:50px;
    bottom: 14px;
    left: 50px;
  }

  font : {
    family: $base-font;
    size: 16px;
  }
}
 

#block-debugacademyblock {
  text-align: center;
  background-color: #161616;
  color: $base-grey;
  width: 100%;

  padding : {
    top: 35px;
    bottom: 36px;
  }

  font : {
    family: $font-two;
    size: 24px;
    weight: 600;
  }
}


#block-debugacademyblock .debug-academy {
  color: #f4a742;
  border-bottom: 1px solid #f4a742;
  margin-left: 7px;
}


.footer-copyright {
  border-top: 1px solid #282828;
  background-color: #161616;
  color: $base-grey;
  font-family: $base-font;
  width: 100%;

  padding : {
    top: 30px;
    bottom: 36px;
  }

  text : {
    align: center;
    transform: uppercase;
  }
}


.footer-copyright-year {
  color: $base-orange;
}



// MEDIA QUERIES

@media only screen and (max-width: 1324px) {
 
  .block-views-blockabout-me-block-1 {
    text-align: center;
    display: block;
    margin: 0px auto;
    width: 86%;
    position: relative;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 55px;
  }

  // SINGLE BLOG POST

  .page-node-type-blog .region-content h1 {
    font-family: $font-two;
    font-size: 42px;
    font-weight: 600;
    border-bottom: none;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 64%;
  }

  .page-node-type-blog .field--name-field-b {
    display: inline-block;
    float: right;
    width: 50%;
    text-align: left;
    font-family: "Times New Roman";
    font-size: 17px;
    color: $base-orange;
    margin-top: 30px;
    padding-left: 10px;
  }

  .page-node-type-blog .field--name-field-i {
    display: inline-block;
    width: 8%;
    margin-left: 287px;
  }

 // FOOTER

  #block-calltoactionblock {
    padding: 60px 0px 55px 18px;
    margin-top: 40px;
    text-align: center;
    background-color: #272727;
    color: $base-grey;
    font-family: $font-two;
    font-size: 44px;
    font-weight: 600;
    width: 100%;
  }


#block-calltoactionblock .lets-build {
    margin: 0px 25px;
    background-color: $base-orange;
    color: #ffffff;
    text-transform: uppercase;
    padding: 16px 40px 12px 40px;
    font-family: $base-font;
    font-size: 13px;
  }
}

@media only screen and (max-width: 1158px) {
 
 // HOME PAGE

  header#navbar a.navbar-brand {
    font-size: 23px;
    color: white;
    top: 15px;
    left: 35px;
  }

  .block-views-blockabout-me-block-1 {
    text-align: center;
    display: block;
    margin: 0px auto;
    width: 95%;
    position: relative;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 55px;
  }

  .block-views-blockabout-me-block-1 .views-field-field-service-skills {
    padding-top: 30px;
    padding-right: 75px;
    text-align: left;
    width: 25%;
    margin: 0 auto;
    float: left;
    margin-top: 233px;
    margin-left: 183px;
  }


  // CONTACT PAGE

  .path-webform .highlighted {
    background-color: black;
    color: white;
    width: 32%;
    padding: 26px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    text-align: left;
    top: 90px;
    font-family: $base-font;
    font-size: 11px;
}

  .path-webform .region-content .form-control {
    display: block;
    width: 78%;
    float: right;
    height: 50px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e8e8e8;
    border-radius: 0;
}

  .path-webform .region-content {
    font-family: $base-font;
    width: 59%;
    float: right;
    padding-right: 20px;
  }

    // SINGLE BLOG POST

  .page-node-type-blog .main-container {
    text-align: center;
    border-bottom: 1px solid #aaaaaa;
    width: 70%;
    padding: 50px 0px 0px;
  }

  .page-node-type-blog .region-content h1 {
    font-family: $font-two;
    font-size: 40px;
    font-weight: 600;
    border-bottom: none;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 60%;
  }

  .page-node-type-blog .field--name-field-b {
    display: inline-block;
    float: right;
    width: 50%;
    text-align: left;
    font-family: "Times New Roman";
    font-size: 17px;
    color: $base-orange;
    margin-top: 27px;
    padding-left: 0px;
  }

  .page-node-type-blog .field--name-field-i {
    display: inline-block;
    width: 8%;
    margin-left: 280px;
  }
}

@media only screen and (max-width: 990px) {
 
  // HOME PAGE - Hero Section

  #navbar {
    margin: 0;
    text-align: center;
    width: 100%;  
  }

  .navbar.container {
    max-width: 100%;
  }

  .hero-section {
    margin-top: 70px;
    font-family: $font-two;
    color: white;
    text-align: left;
  }

  .block-views-blockabout-me-block-1 .views-field-field-headline {
    position: absolute;
    top: 25px;
    text-align: left;
    width: 40%;
    left: 160px;
  }

  .block-views-blockabout-me-block-1 .views-field-field-headline .field-content {
    font-family: $font-two;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    padding-top: 18px;
    color: #382a3b;
  }

  .block-views-blockabout-me-block-1 .views-field-user-picture {
    right: 0;
    float: right;
    margin-right: 40px;
    width: 29%;
    margin-top: 52px;
  }

  .block-views-blockabout-me-block-1 .views-field-field-service-skills {
    padding-top: 30px;
    padding-right: 75px;
    text-align: left;
    width: 30%;
    margin: 0 auto;
    float: left;
    margin-top: 238px;
    margin-left: 155px;
  }

  .block-views-blockabout-me-block-1 .views-field-field-biography {
    display: inline-block;
    width: 48%;
    margin-right: 115px;
    padding-top: 42px;
    padding-right: 44px;
    text-align: left;
    margin: 0 auto;
    margin-top: 38px;
  }

  // CONTACT PAGE

    .path-webform .main-container.container.js-quickedit-main-content {
    width: 100%;
    position: relative;
    padding: 55px 0px;
  }

  .path-webform .highlighted {
    background-color: black;
    color: white;
    width: 33%;
    padding: 26px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    text-align: left;
    top: 90px;
    font-family: $base-font;
    font-size: 11px;
  }

  // SINGLE BLOG POST

  .page-node-type-blog .main-container {
    text-align: center;
    border-bottom: 1px solid #aaaaaa;
    width: 80%;
    padding: 50px 0px 0px;
  }

  .page-node-type-blog .region-content h1 {
    font-family: $font-two;
    font-size: 40px;
    font-weight: 600;
    border-bottom: none;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 61%;
  }

  .page-node-type-blog .field--name-field-b {
    display: inline-block;
    float: right;
    width: 50%;
    text-align: left;
    font-family: "Times New Roman";
    font-size: 17px;
    color: $base-orange;
    margin-top: 29px;
    padding-left: 0px;
  }

  .page-node-type-blog .field--name-field-i {
    display: inline-block;
    width: 8%;
    margin-left: 280px;
  }

  // FOOTER

  #block-calltoactionblock {
    padding: 60px 0px 55px 18px;
    margin-top: 40px;
    text-align: center;
    background-color: #272727;
    color: $base-grey;
    font-family: $font-two;
    font-size: 36px;
    font-weight: 600;
    width: 100%;
  }


  #block-calltoactionblock .lets-build {
    margin: 0px 25px;
    background-color: $base-orange;
    color: #ffffff;
    text-transform: uppercase;
    padding: 14px 30px 10px 30px;
    font-family: $base-font;
    font-size: 10px;
  }

  #block-debugacademyblock {
    padding-top: 35px;
    padding-bottom: 36px;
    text-align: center;
    background-color: #161616;
    color: $base-grey;
    font-family: $font-two;
    font-size: 19px;
    font-weight: 600;
    width: 100%;
  } 
}


@media only screen and (max-width: 936px) {
 
  header#navbar a.navbar-brand {
    font-size: 23px;
    color: white;
    top: 15px;
    left: 11px;
  }

  .navbar-default .navbar-nav > li > a {
    color: white;
    background: #110c28;
    margin-right: 20px;
    padding: 10px 16px;
    text-transform: uppercase;
    font-family: $base-font;
  }

  .menu li:nth-child(2) {
    padding-right: 1px;
  }

  .menu li:nth-child(3) {
  padding-right: 10px;
  }

  .block-social-media-links .horizontal li, .pane-social-media-link-widget .horizontal li {
    display: inline-block;
    text-align: center;
    padding: .2em 0.35em;
    margin-top: -3px;
    margin-right: 0px;
  }

  // code not working check later
  .block-views-blockview-portfolio-block-1 .views-row {
    width: 36%;
    text-align: center;
    display: inline-block;
    margin: 19px;
    margin-bottom: 5px;
  }

  .block-views-blockabout-me-block-1 .views-field-user-picture {
    right: 0;
    float: right;
    margin-right: 40px;
    width: 29%;
    margin-top: 55px;
  }

  .block-views-blockabout-me-block-1 .views-field-field-biography {
    display: inline-block;
    width: 48%;
    margin-right: 115px;
    padding-top: 42px;
    padding-right: 44px;
    text-align: left;
    margin: 0 auto;
    margin-top: 40px;
  }

  // SINGLE BLOG POST
  
  .page-node-type-blog .main-container {
    text-align: center;
    border-bottom: 1px solid #aaaaaa;
    width: 80%;
    padding: 50px 0px 0px;
  }

  .page-node-type-blog .region-content h1 {
    font-family: $font-two;
    font-size: 40px;
    font-weight: 600;
    border-bottom: none;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 65%;
  }

  .page-node-type-blog .field--name-field-b {
    display: inline-block;
    float: right;
    width: 50%;
    text-align: left;
    font-family: "Times New Roman";
    font-size: 17px;
    color: $base-orange;
    margin-top: 28px;
    padding-left: 10px;
  }

  .page-node-type-blog .field--name-field-i {
    display: inline-block;
    width: 8%;
    margin-left: 270px;
  }
}

@media only screen and (max-width: 844px) {

  // SINGLE BLOG POST
  
  .page-node-type-blog .main-container {
    text-align: center;
    border-bottom: 1px solid #aaaaaa;
    width: 80%;
    padding: 50px 0px 0px;
  }

  .page-node-type-blog .region-content h1 {
    font-family: $font-two;
    font-size: 40px;
    font-weight: 600;
    border-bottom: none;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 72%;
  }

  .page-node-type-blog .field--name-field-b {
    display: inline-block;
    float: right;
    width: 50%;
    text-align: left;
    font-family: "Times New Roman";
    font-size: 16px;
    color: $base-orange;
    margin-top: 25px;
    padding-left: 0px;
  }

  .page-node-type-blog .field--name-field-i {
    display: inline-block;
    width: 8%;
    margin-left: 235px;
  }

  // FOOTER

  #block-calltoactionblock {
    padding: 55x 0px 50px 18px;
    margin-top: 40px;
    text-align: center;
    background-color: #272727;
    color: $base-grey;
    font-family: $font-two;
    font-size: 36px;
    font-weight: 600;
    width: 100%;
  }


#block-calltoactionblock .lets-build {
    margin: 0px 25px;
    background-color: $base-orange;
    color: #ffffff;
    text-transform: uppercase;
    padding: 13px 23px 10px 23px;
    font-family: $base-font;
    font-size: 10px;
  }
}


@media only screen and (max-width: 768px) {

  #block-proj-me-theme-main-menu li {
    position: relative;
    display: inline-block;
  }

  .navbar-nav {
    margin: 0;
  }

  .navbar-nav li {
    top: 60px;
  }

  .block-social-media-links .horizontal li, .pane-social-media-link-widget .horizontal li {
    display: inline-block;
    text-align: center;
    padding: .2em 0.35em;
    margin-top: -3px;
    margin-right: 9px;
  }

  .hero-section {
    margin-top: 30px;
    font-family: $font-two;
    color: white;
    text-align: center;
  }

  .hero-section-border {
    border-bottom: 1px solid $base-grey;
    padding-top: 140px;
  }

  // SINGLE BLOG POST

  .page-node-type-blog .main-container {
    text-align: center;
    border-bottom: 1px solid #aaaaaa;
    width: 90%;
    padding: 50px 0px 0px;
  }

  .page-node-type-blog .region-content h1 {
    font-family: $font-two;
    font-size: 40px;
    font-weight: 600;
    border-bottom: none;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 71%;
  }

  .page-node-type-blog .field--name-field-b {
    display: inline-block;
    float: right;
    width: 50%;
    text-align: left;
    font-family: "Times New Roman";
    font-size: 16px;
    color: $base-orange;
    margin-top: 25px;
    padding-left: 0px;
  }

  .page-node-type-blog .field--name-field-i {
    display: inline-block;
    width: 8%;
    margin-left: 235px;
  }
}

@media only screen and (max-width: 743px) {

  // CONTACT PAGE

  .path-webform .highlighted {
    background-color: black;
    color: white;
    width: 32%;
    padding: 26px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    text-align: left;
    top: 90px;
    font-family: $base-font;
    font-size: 11px;
}

  .path-webform .region-content .form-control {
    display: block;
    width: 78%;
    float: right;
    height: 50px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e8e8e8;
    border-radius: 0;
}

  .path-webform .region-content {
    font-family: $base-font;
    width: 59%;
    float: right;
    padding-right: 20px;
  }
    
  // SINGLE BLOG POST

  .page-node-type-blog .main-container {
    text-align: center;
    border-bottom: 1px solid #aaaaaa;
    width: 90%;
    padding: 50px 0px 0px;
  }

  .page-node-type-blog .region-content h1 {
    font-family: $font-two;
    font-size: 40px;
    font-weight: 600;
    border-bottom: none;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 73%;
  }

  .page-node-type-blog .field--name-field-b {
    display: inline-block;
    float: right;
    width: 50%;
    text-align: left;
    font-family: "Times New Roman";
    font-size: 16px;
    color: $base-orange;
    margin-top: 25px;
    padding-left: 0px;
  }

  .page-node-type-blog .field--name-field-i {
    display: inline-block;
    width: 9%;
    margin-left: 225px;
  }

  // FOOTER

  #block-calltoactionblock {
    padding: 40px 0px 40px 8px;
    margin-top: 40px;
    text-align: center;
    background-color: #272727;
    color: $base-grey;
    font-family: $font-two;
    font-size: 30px;
    font-weight: 600;
    width: 100%;
  }


  #block-calltoactionblock .lets-build {
    margin: 0px 15px;
    background-color: $base-orange;
    color: #ffffff;
    text-transform: uppercase;
    padding: 13px 18px 10px 18px;
    font-family: $base-font;
    font-size: 10px;
  }

  #block-debugacademyblock {
    padding-top: 30px;
    padding-bottom: 31px;
    text-align: center;
    background-color: #161616;
    color: $base-grey;
    font-family: $font-two;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
  }
}

@media only screen and (max-width: 670px) {

  
  // SINGLE BLOG POST

  .page-node-type-blog .main-container {
    text-align: center;
    border-bottom: 1px solid #aaaaaa;
    width: 90%;
    padding: 50px 0px 0px;
  }

  .page-node-type-blog .region-content h1 {
    font-family: $font-two;
    font-size: 39px;
    font-weight: 600;
    border-bottom: none;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 79%;
  }

  .page-node-type-blog .field--name-field-b {
    display: inline-block;
    float: right;
    width: 50%;
    text-align: left;
    font-family: "Times New Roman";
    font-size: 16px;
    color: $base-orange;
    margin-top: 26px;
    padding-left: 0px;
  }

  .page-node-type-blog .field--name-field-i {
    display: inline-block;
    width: 10%;
    margin-left: 190px;
  }

  // FOOTER

  #block-calltoactionblock p {
    width: 69%;
    margin: 0px auto;
  }
}

@media only screen and (max-width: 606px) {

  
  // SINGLE BLOG POST

  .page-node-type-blog .main-container {
    text-align: center;
    border-bottom: 1px solid #aaaaaa;
    width: 97%;
    padding: 50px 0px 0px;
  }

  .page-node-type-blog .region-content h1 {
    font-family: $font-two;
    font-size: 38px;
    font-weight: 600;
    border-bottom: none;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 80%;
  }

  .page-node-type-blog .field--name-field-b {
    display: inline-block;
    float: right;
    width: 50%;
    text-align: left;
    font-family: "Times New Roman";
    font-size: 16px;
    color: $base-orange;
    margin-top: 26px;
    padding-left: 0px;
  }

  .page-node-type-blog .field--name-field-i {
    display: inline-block;
    width: 10%;
    margin-left: 180px;
  }

  // FOOTER StOpPeD hErE

  #block-calltoactionblock p {
    width: 78%;
    margin: 0px auto;
  }
}

@media only screen and (max-width: 414px) {

  // HERO SECTION

  #hero {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    height: 470px;
    background-size: cover;
  }

  header#navbar a.navbar-brand {
    font-size: 23px;
    color: white;
    top: 18px;
    left: 102px;
  }

  #block-proj-me-theme-main-menu {
    float: none;
    padding-right: 28px;
  }

  #block-socialmedialinks-2 {
    float: none;
    padding-top: 85px;
    padding-right: 45px;
  }

  .hero-section-border {
    border-bottom: 1px solid $base-grey;
    padding-top: 210px;
  }

  .hero-text {
    font-size: 40px;
    font-weight: 600;
  }

  #hero .button {
    font-family: $base-font;
    font-size: 11px;
    padding: 10px 15px;
    background-color: $base-orange;
    text-transform: uppercase;
    border: none;
    margin-top: 15px;
    color: #ffffff;
  }

  // MAIN PAGE: PORTFOLIO

  .path-frontpage .main-container.container.js-quickedit-main-content {
    background-color: #f4f4f3;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .block-views-blockview-portfolio-block-1 h2.block-title {
    font-size: 15px;
    font-family: $base-font;
    color: #aaaaaa;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
  }

  .block-views-blockview-portfolio-block-1 .more-link {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 35px;
  }

  .block-views-blockview-portfolio-block-1 .views-row {
    width: 44%;
    text-align: center;
    display: inline-block;
    margin: 11px 9px -7px 8px;
  }

  .block-views-blockview-portfolio-block-1 .more-link a {
    background-color: #bf5829;
    color: #ffffff;
    text-transform: uppercase;
    padding: 12px 38px;
    font-family: "Trebuchet MS";
    font-size: 12px;
  }

  // ABOUT SECTION

  .block-views-blockabout-me-block-1 .views-field-field-headline {
    position: absolute;
    top: 25px;
    text-align: left;
    width: 55%;
    left: 35px;
  }

  .block-views-blockabout-me-block-1 .views-field-field-headline .field-content {
    font-family: "Bodoni MT";
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    color: #382a3b;
  }

  .block-views-blockabout-me-block-1 .views-field-user-picture {
    right: 0;
    float: right;
    margin-right: 25px;
    width: 24%;
    margin-top: 62px;
  }
  .block-views-blockabout-me-block-1 .views-field-user-picture img {
    border-radius: 50%;
    width: 100%;
  }

  .block-views-blockabout-me-block-1 .views-field-field-service-skills {
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 34px;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    float: left;
    margin-top: 25px;
  }

  .block-views-blockabout-me-block-1 .views-field-field-biography {
    display: inline-block;
    width: 100%;
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 35px;
    text-align: left;
    margin-top: 47px;
  }

  .block-views-blockabout-me-block-1 {
    text-align: center;
    display: block;
    margin: 0px auto;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 30px;
  }

  // MAIN PAGE: BLOG SECTION
  
  .block-views-blockview-blog-post-block-1 .views-row {
    width: 100%;
    text-align: center;
    padding: 25px;
    font-family: $base-font;
    border-bottom: 1px solid #c1c1c1;
  }

  .block-views-blockview-blog-post-block-1 .field-content a {
    color: #382a3b;
    font-family: $font-two;
    font-size: 28px;
    font-weight: 600;
  }

  .block-views-blockabout-me-block-1 {
    text-align: center;
    display: block;
    margin: 0px auto;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 40px;
  }

  // MAIN PAGE: FOOTER

  #block-calltoactionblock {
    padding: 20px 0px 31px 0px;
    margin-top: 0px;
    text-align: center;
    background-color: #272727;
    color: $base-grey;
    font-family: $font-two;
    font-size: 28px;
    font-weight: 600;
    width: 100%;
  }

  #block-calltoactionblock p {
    width: 100%;
    margin: 0px auto;
  }

  #block-calltoactionblock .lets-build {
    background-color: $base-orange;
    color: #ffffff;
    text-transform: uppercase;
    padding: 9px 10px;
    font-family: $base-font;
    font-size: 10px;
  }

  #block-debugacademyblock {
    padding-top: 25px;
    padding-bottom: 28px;
    text-align: center;
    background-color: #161616;
    color: $base-grey;
    font-family: $font-two;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
  }

  .footer-copyright {
    padding-top: 25px;
    padding-bottom: 36px;
    border-top: 1px solid #282828;
    text-align: center;
    text-transform: uppercase;
    background-color: #161616;
    color: $base-grey;
    font-family: $base-font;
    font-size: 10px;
    width: 100%;
  }

}

@media only screen and (max-width: 376px) {

  // HERO SECTION

  #hero {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    height: 430px;
    background-size: cover;
  }

  header#navbar a.navbar-brand {
    font-size: 23px;
    color: white;
    top: 15px;
    left: 83px;
  }

  #block-proj-me-theme-main-menu {
    float: none;
    
    ul {
      margin-right: -23px;
    }
  }

  #block-socialmedialinks-2 {
    float: none;
    padding-top: 85px;
    padding-right: 15px;
  }
  

  .hero-section-border {
    border-bottom: 1px solid $base-grey;
    padding-top: 215px;
  }

  .hero-text {
    font-size: 35px;
    font-weight: 600;
  }  


  #hero .button {
    font-family: $base-font;
    font-size: 10px;
    padding: 9px 12px;
    background-color: $base-orange;
    text-transform: uppercase;
    border: none;
    margin-top: 10px;
    color: #ffffff;
}


  // MAIN PAGE: PORTFOLIO

  .path-frontpage .main-container.container.js-quickedit-main-content {
    background-color: #f4f4f3;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .block-views-blockview-portfolio-block-1 h2.block-title {
    font-size: 15px;
    font-family: $base-font;
    color: #aaaaaa;
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
  }

  .block-views-blockview-portfolio-block-1 .view-header {
    color: #382a3b;
    text-align: center;
    font-family: $font-two;
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .block-views-blockview-portfolio-block-1 .views-row {
    width: 45%;
    text-align: center;
    display: inline-block;
    margin: 8px 8px -7px 7px;
  }

  .block-views-blockview-portfolio-block-1 .more-link {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 15px;
  }

  .block-views-blockview-portfolio-block-1 .more-link a {
    background-color: $base-orange;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 30px;
    font-family: $base-font;
    font-size: 11px;
  }

  // MAIN PAGE: ABOUT SECTION

  .block-views-blockabout-me-block-1 .views-field-field-headline {
    position: absolute;
    top: 25px;
    text-align: left;
    width: 60%;
    left: 15px;
  }

  .block-views-blockabout-me-block-1 .views-field-field-headline .field-content {
    font-family: $font-two;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding-top: 11px;
    color: #382a3b;
  }

  .block-views-blockabout-me-block-1 .views-field-user-picture {
    right: 0;
    float: right;
    margin-right: 15px;
    width: 27%;
    margin-top: 54px;
  }

  .block-views-blockabout-me-block-1 .views-field-user-picture img {
    border-radius: 50%;
    width: 100%;
  }

  .block-views-blockabout-me-block-1 .views-field-field-service-skills {
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 15px;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    float: left;
    margin-top: 20px;
  }

  .block-views-blockabout-me-block-1 .views-field-field-biography {
    display: inline-block;
    width: 100%;
    padding-top: 0px;
    padding-right: 19px;
    padding-left: 14px;
    text-align: left;
    margin-top: 43px;
    margin-left: 0px;
  }

  .block-views-blockabout-me-block-1 {
    text-align: center;
    display: block;
    margin: 0px auto;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 30px;
  }

  // MAIN PAGE: BLOG SECTION
  
  .block-views-blockview-blog-post-block-1 .views-row {
    width: 100%;
    text-align: center;
    padding: 25px 7px;
    font-family: $base-font;
    border-bottom: 1px solid #c1c1c1;
  }

  .block-views-blockview-blog-post-block-1 .views-row:nth-child(3) {
    border-bottom: none;
  }

  .block-views-blockview-blog-post-block-1 .field-content a {
    color: #382a3b;
    font-family: $font-two;
    font-size: 26px;
    font-weight: 600;
  }

  // FOOTER

  #block-calltoactionblock {
    padding: 18px 0px 25px 0px;
    margin-top: 0px;
    text-align: center;
    background-color: #272727;
    color: $base-grey;
    font-family: $font-two;
    font-size: 25px;
    font-weight: 600;
    width: 100%;
  }

  #block-calltoactionblock p {
    width: 100%;
    margin: 0px auto;
  }

  #block-calltoactionblock .lets-build {
    background-color: $base-orange;
    color: #ffffff;
    text-transform: uppercase;
    padding: 9px 10px;
    font-family: $base-font;
    font-size: 10px;
  }

  #block-debugacademyblock {
    padding-top: 19px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #161616;
    color: $base-grey;
    font-family: $font-two;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
  }

  .footer-copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #282828;
    text-align: center;
    text-transform: uppercase;
    background-color: #161616;
    color: $base-grey;
    font-family: $base-font;
    font-size: 10px;
    width: 100%;
  }

  // CONTACT PAGE

  .path-webform .main-container.container.js-quickedit-main-content {
    width: 100%;
    position: relative;
    padding: 35px 0px;
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .row .col-sm-12 {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .path-webform .highlighted {
    background-color: black;
    color: white;
    width: 67%;
    padding: 30px 16px 29px 31px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
    top: 0px;
    font-family: $base-font;
    font-size: 11px;
    margin-left: 35px;
  }

  .path-webform .region-content {
    font-family: $base-font;
    width: 100%;
    float: none;
    padding-right: 9px;
    padding-top: 195px;
    text-align: center;
  }

  .path-webform .region-content .js-form-item-name .control-label {
    padding: 11px 13px 10px 11px;
  }

  .path-webform .region-content .form-control {
    display: block;
    width: 75%;
    float: right;
    height: 39px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e8e8e8;
    border-radius: 0;
  }

  .path-webform .region-content .control-label {
    background: black;
    color: white;
    padding: 11px 11px 10px 11px;
    font-family: $base-font;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 1px;
  }

.path-webform .form-item-phone .control-label {
    padding: 11px 13px 10px 14px;
  }

.path-webform .region-content .form-item-how-can-i-help-you- {
    margin-left: 10px;
  }

.path-webform #edit-how-can-i-help-you- {
    width: 100%;
    height: 280px;
    background-color: #e8e8e8;
    border: 1px solid #e8e8e8;
    font-family: "Times New Roman";
    font-size: 13px;
    padding: 10px;
    color: #898989;
  }

  .path-webform .send-button {
    color: #ffffff;
    background-color: $base-orange;
    border-color: $base-orange;
    border-radius: 0px;
    padding: 7px 25px;
    font-family: $base-font;
    text-transform: uppercase;
    margin: 10px 0 0 0;
  }

}