// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
  margin-top: 0;
  }
}

body {
    margin-top: 0;
}

.navbar-header {
  float: right;
  margin-top: 20px;
}

header#navbar a.navbar-brand {
  font-size: 23px;
  color: white;
}

#block-proj-me-theme-main-menu {
  float: left;
}

#block-socialmedialinks-2 {
  float: right;
}

.fa-facebook {
  background-color: #bf5829;
  border-radius: 50%;
  color: #37293a;
  border: 13px solid #bf5829;
  border-top: 7px solid #bf5829;
  border-bottom: 6px solid #bf5829;
}

.fa-twitter {
  background-color: #bf5829;
  border-radius: 50%;
  color: #37293a;
  border: 7px solid #bf5829;
  border-right: 8px solid #bf5829;
  border-left: 8px solid #bf5829;
}

.fa-linkedin {
  background-color: #bf5829;
  border-radius: 50%;
  color: #37293a;
  border: 7px solid #bf5829;
  border-right: 9px solid #bf5829;
  border-left: 9px solid #bf5829;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  background: #110c28;
  margin-right: 27px;
  padding: 10px 30px;
  text-transform: uppercase;
  ont-family: "Trebuchet MS";
}

.block-social-media-links .horizontal li, .pane-social-media-link-widget .horizontal li {
  display: inline-block;
  text-align: center;
  padding: .2em 0.35em;
  margin-right: 12px;
}

.menu li:nth-child(2) {
  padding-right: 8px;
}

.menu li:nth-child(3) {
  padding-right: 15px;
}

.navbar-default {
  background-color: transparent;
  border: none;
}

a.name {
  position: absolute;
  left: 0;
  text-transform: uppercase;
  font-family: "Trebuchet MS";
  color: white;
}

.hero-section-border {
  border-bottom: 1px solid #525252;
  padding-top: 97px;
}

.hero-section {
  margin-top: 70px;
  font-family: "Bodoni MT";
  color: white;
}

.hero-text {
  font-size: 46px;
  font-weight: 600;

}

u {
  text-decoration: none;
  border-bottom: .5px solid white;
}

.last {
  font-style: italic;
}

#hero .button {
  font-family: "Trebuchet MS";
  padding: 12px 24px;
  background-color: #bf5829;
  text-transform: uppercase;
  border: none;
  margin-top: 30px;
  color: #d6d6d6;
}

.call-to-action p {
font-size: 11px;
}

#hero {
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  height: 468px;
  background-size: cover;
}

#hero-two {
  background-image: url(../images/hero-two.jpg);
  background-repeat: no-repeat;
  height: 468px;
  background-size: cover;
}

// global settings
$base-color: #bf5829;
$base-grey: #525252;
$black: #000000;
$base-content: #f4f4f3;

 .main-container.container.js-quickedit-main-content {
  background-color: #f4f4f3;
  width: 100%;
  padding-left: 0px;
}


 .main-container.container.js-quickedit-main-content .row .col-sm-12 {
  padding: 0px;
}

.block-views-blockview-portfolio-block-1 h2.block-title {
  font-size: 15px;
  font-family: "Trebuchet MS";
  color: #aaaaaa;
  text-align: center;
  text-transform: uppercase;
  margin-top: 90px;
  margin-botom: 8px;
}

.block-views-blockview-portfolio-block-1 .view-header {
  color: #382a3b;
  text-align: center;
  font-family: "Bodoni MT";
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.block-views-blockview-portfolio-block-1 .view-content {
  text-align: center;
}

.block-views-blockview-portfolio-block-1 .views-row {
  width: 31%;
  text-align: center;
  display: inline-block;
  margin: 19px;
  margin-bottom: 5px;
}

.block-views-blockview-portfolio-block-1 .more-link {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 50px;
}

.block-views-blockview-portfolio-block-1 .more-link a {
  background-color: #bf5829;
  color: #d6d6d6;
  text-transform: uppercase;
  padding: 15px 65px;
  font-family: "Trebuchet MS";
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.block-views-blockview-blog-post-block-1 .views-row {
  width: 100%;
  text-align: center;
  padding: 45px;
  font-family: "Trebuchet MS";
  border-bottom: 1px solid #c1c1c1;
}

#blog {
  color: #c2653b;
}

.block-views-blockview-blog-post-block-1 #blog:hover {
  color: white;  
}

.block-views-blockview-blog-post-block-1 .field-content a {
  color: #382a3b;
  font-family: "Bodoni MT";
  font-size: 40px;
  font-weight: 600;
}

.block-views-blockview-blog-post-block-1 .field-content a:hover {
  color: white;
  text-decoration: none;
}

.block-views-blockview-blog-post-block-1 .views-row:hover {
  color: white;
  background-image: url(../images/keyboard-orange.jpg);
}

.footer.container {
  width: 100%;
  padding: 0;
}

.region.region-footer {
  width: 100%;
}

/**
* #block-calltoaction {
*  padding-top: 60px;
*  padding-bottom: 55px;
*  margin-top: 50px;
*  text-align: center;
*  background-color: #272727;
*  color: #525252;
*  font-family: "Bodoni MT";
*  font-size: 40px;
*  font-weight: 600;
*  width: 100%;
* }
*/

/** 
* #block-calltoaction .lets-build {
*  margin: 0px 25px;
*  background-color: #bf5829;
*  color: #d6d6d6;
*  text-transform: uppercase;
*  padding: 15px 50px;
*  font-family: "Trebuchet MS";
*  font-size: 15px;
* }
*/

/** 

* #block-templateprogrammed {
*  padding-top: 35px;
*  padding-bottom: 36px;
*  text-align: center;
*  background-color: #161616;
*  color: #525252;
*  font-family: "Bodoni MT";
*  font-size: 24px;
*  font-weight: 600;
*  width: 100%;
* }
*/

/*
 #block-templateprogrammed .debug-academy {
  color: #f4a742;
  border-bottom: 1px solid #f4a742;
}
*/

.footer-copyright {
  padding-top: 30px;
  padding-bottom: 36px;
  border-top: 1px solid #282828;
  text-align: center;
  text-transform: uppercase;
  background-color: #161616;
  color: #525252;
  font-family: "Trebuchet MS";
  width: 100%;
}

.footer-copyright-year {
  color: #bf5829;
}